* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, p, ul {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4 )), url(Images/g.jpg);
  background-position: center;
  background-size: cover;
}
/* Navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.logo img {
  height: 30px;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-items li {
  margin-right: 10px;
}

.nav-items li a {
  text-decoration: none;
  color: #03dbd2f8;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
.nav-items li a:hover {
  color: #03db86f8;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #03db86f8;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar a:hover::after {
  transform: scaleX(1);
}
.cont1 {
  display: flex;
  align-items: center;
}
/* Content styles */
h1 {
  text-align: center;
  margin-top: 20px;
}

.content {
  display: flex;
  margin-top: 50px;
}
main {
  padding-top: 60px;
  min-height: 100vh;
}
.left, .right {
  flex: 1;
  padding: 20px;
}

.left p {
  margin-top: 50px;
  margin-bottom: 10px;
}
.strt {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: purple;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}
.typing::after {
  content: "|";
  position: relative;
  animation: blink-caret 1.0s infinite;
}
@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF60;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #4CAF80;
  transform: scale(1.1);
}

.button:active {
  background-color: #3e8e41;
  transform: scale(0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.right img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
